<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Missed Faces</title>
</head>
<body>

<a href="{{ url_for("index") }}">Home</a>
<br/>
<br/>

<ul>
    {% for method in notification_methods %}
        <li>
            {% if method.notification_type == "email" %}
                E-mail para {{ method.target }}
            {% else %}
                Post na URL {{ method.target }}
            {% endif %}

            <a href="{{ url_for("notifications.delete", notification_id=method.id) }}">Deletar</a>
        </li>
    {% endfor %}
</ul>

<div>
    <a href="./nova">Adicionar método de notificação</a>
</div>

</body>
</html>