{% macro render(form) -%}
    {% for error in form.errors.__all__ %}
        <div>{{ error }}</div>
    {% endfor %}

    {% for field in form %}
        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
            {{ field() }}
        {% elif field.type != "FileField" %}
            <div class="clearfix {% if field.errors %}error{% endif %}">
                {{ field.label }}
                <div class="input">
                    {% if field.type == "DateField" %}
                        {{ field(type="date") }}
                    {% else %}
                        {{ field() }}
                    {% endif %}

                    {% if field.errors or field.help_text %}
                        <span class="help-inline">
                        {% if field.errors %}
                            {{ field.errors|join(' ') }}
                        {% else %}
                            {{ field.help_text }}
                        {% endif %}
                            </span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}