{% extends "base/base.html" %}

{% block title %}
    Login | Missed Faces
{% endblock %}

{% block content %}
    <div class="vertical layout center">
        <paper-card elevation="2" heading="Login" class="form-card">
            <form is="iron-form" id="form" action="{{ request.url }}" method="POST" class="login-form">
                {{ form.csrf_token() }}
                <paper-input type="email" name="email" autofocus="true" required="true" label="E-mail" error-message="E-mail inválido"></paper-input>

                <paper-input type="password" name="password" required="true" label="Senha" error-message="Obrigatório"></paper-input>

                <br>

                <div class="center">
                    <paper-button raised class="primary" onclick="submitForm()">Login</paper-button>
                </div>
            </form>
        </paper-card>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function validateInput(el) {
            return el.validate();
        }

        function handleFormErrors(errors) {
            if (errors.hasOwnProperty("__all__")) {
                var email = document.querySelector("paper-input[name=email]");
                email.invalid = true;
                email.errorMessage = errors["__all__"];
                delete errors["__all__"];
            }
        }

        function redirect(to) {
            document.location = to;
        }

        function onSubmitSuccess(response) {
            if (response.status === "error") {
                handleFormErrors(response.errors);
            } else {
                redirect(response.next);
            }
        }

        function submitForm() {
            var inputs = document.getElementsByTagName('paper-input');
            var valid = true;

            for (var i = 0; i < inputs.length; i++) {
                valid &= validateInput(inputs[i]);
            }

            if (valid) {
                var form = $("#form");
                var formData = form.serialize();
                $.post(form.attr('action'), formData).success(onSubmitSuccess);
            }
        }
    </script>
{% endblock %}
