{% extends "base/base.html" %}

{% block title %}
    Cadastro | Missed Faces
{% endblock %}

{% block content %}
    <div class="vertical layout center">
        <paper-card elevation="2" heading="Cadastro" class="form-card">
            <form is="iron-form" id="form" action="{{ request.url }}" method="POST" class="login-form">
                {{ form.csrf_token() }}
                <paper-input pattern="^.*$" error-message="E-mail inválido" autoValidate="true" type="email" name="email" autofocus="true" required="true" label="E-mail"></paper-input>

                <paper-input pattern="^.*$" autoValidate="true" type="password" name="password" required="true" label="Senha"></paper-input>

                <paper-input pattern="^.*$" autoValidate="true" type="password" name="password_2" required="true" label="Confirmação da Senha"></paper-input>

                <br>

                <div class="center">
                    <paper-button raised class="primary" onclick="submitForm()">Enviar</paper-button>
                </div>
            </form>
        </paper-card>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function validatePasswordConfirmation() {
            var pwd = document.querySelector("paper-input[name=password]");
            var pwdConf = document.querySelector("paper-input[name=password_2]");

            var valid = pwd.value !== pwdConf.value;

            if (valid) {
                pwdConf.errorMessage = "Confirmação incorreta";
                pwdConf.invalid = true;
            }

            return !valid;
        }

        function handleFormErrors(errors) {
            if (errors.hasOwnProperty("email")) {
                var email = document.querySelector("paper-input[name=email]");
                email.invalid = true;
                email.errorMessage = errors["email"];
            }
        }

        function redirect(to) {
            document.location = to;
        }

        function onSubmitSuccess(response) {
            console.log(response);
            if (response.status === "error") {
                handleFormErrors(response.errors);
            } else {
                redirect(response.next);
            }
        }

        function submitForm() {
            var inputs = document.getElementsByTagName('paper-input');

            var valid = true;

            for (var i = 0; i < inputs.length; i++) {
                valid &= inputs[i].validate();
            }

            valid &= validatePasswordConfirmation();

            console.log(valid);

            if (valid) {
                var form = $("#form");
                var formData = form.serialize();
                $.post(form.attr('action'), formData).success(onSubmitSuccess);
            }
        }
    </script>
{% endblock %}