{% extends "base/base.html" %}

{% block title %}
    Desaparecidos | Missed Faces
{% endblock %}

{% block content %}
    <div class="vertical layout center">
        <paper-card elevation="2" heading="Novo Desaparecido" class="form-card">
            <form is="iron-form" id="form" action="{{ request.url }}" method="POST" class="login-form" enctype="multipart/form-data">
                {{ form.csrf_token() }}
                <paper-input name="name" autofocus="true" required="true" label="Nome"></paper-input>

                <paper-input name="born_date" autofocus="true" required="true" label="Nascimento" type="date" value=" "></paper-input>

                <paper-input name="missed_date" autofocus="true" required="true" label="Desaparecido em" type="date" value=" "></paper-input>

                <paper-input type="file" multiple="true" name="images"></paper-input>

                <br>
                <div class="center">
                    <paper-button raised class="primary" onclick="submitForm()">Cadastrar</paper-button>
                    <paper-button href="{{ url_for("person.index") }}" onclick="redirect(this)">Voltar</paper-button>
                </div>
            </form>
        </paper-card>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector("paper-input[type=file]").inputElement.multiple = true;

        function validateInput(el) {
            return el.validate();
        }

        function submitForm() {
            var inputs = document.getElementsByTagName('paper-input');
            var valid = true;

            for (var i = 0; i < inputs.length; i++)
                valid &= validateInput(inputs[i]);

            if (valid)
                document.forms[0].submit();
        }

        function redirect(el) {
            document.location = $(el).attr("href");
        }
    </script>
{% endblock %}