{% extends "base/base.html" %}

{% block title %}
    Encontrado | Missed Faces
{% endblock %}

{% block extrahead %}
    <link rel="import" href="/static/bower_components/google-map/google-map.html" />
    <link rel="import" href="/static/bower_components/google-map/google-map-marker.html" />
    <style>
        google-map {
            height: 25em;
            width: 45em;
        }

        paper-card {
            margin-top: 20px;
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="vertical layout center">
        <paper-card heading="Nova pessoa encontrada!">

            <p>Nome: {{ detection.person.name }}</p>
            <p>Horário: {{ detection.received_at.strftime("%d/%m/%Y %H:%M:%S") }}</p>
            <p>Local: {{ detection.latitude }}(latitude), {{ detection.longitude }}(longitude)</p>

            <google-map latitude="{{ detection.latitude }}" longitude="{{ detection.longitude }}" min-zoom="9" max-zoom="11">
                <google-map-marker latitude="{{ detection.latitude }}" longitude="{{ detection.longitude }}" open="true">
                    <div class="horizontal layout">
                        <div class="vertical layout">
                            <p>Face Cadastrada</p>
                            <img src="{{ url_for("person.download_image", person_id=detection.person.id, index=0) }}" height="100" />
                        </div>

                        <div class="vertical layout" style="margin-left: 5px">
                            <p>Face Encontrada</p>
                            <img src="{{ url_for("detection.download_face", detection_id=detection.id) }}" height="100" />
                        </div>
                    </div>
                </google-map-marker>
            </google-map>
        </paper-card>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var map = document.querySelector("google-map");
        var marker = document.querySelector("google-map-marker");

{#        map.addEventListener('google-map-ready', function(e) {#}
{#            $(marker).click();#}
{#            console.log(marker);#}
{#        });#}
    </script>
{% endblock %}